/* Gerais */
*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Press Start 2P', cursive;
  background-color: #000123;
}

.sobre {
  color: aliceblue;
  margin: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
}

.liga {
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  flex-wrap: wrap;
  text-align: center;
  color: #ff0f7b;
  width: 100%;
  justify-content: space-around;
}

.h4{
  margin: 0px;
  flex-direction: column;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #ff0f7b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  margin-right: 10px;
}
